<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cooking_BDD.Properties.Settings.cookingConnectionString"
            connectionString="server=localhost;user id=root;password=tKyD4bRJ;persistsecurityinfo=True;database=cooking"
            providerName="MySql.Data.MySqlClient" />
        <add name="Cooking_BDD.Properties.Settings.cookingConnectionString1"
            connectionString="server=localhost;user id=root;password=tKyD4bRJ;persistsecurityinfo=True;database=cooking;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>